<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h2>Add New Product</h2>
                <form [formGroup]="addProductForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label>Product Name</label>
                        <input type="text" formControlName="productName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.productName.errors }"
                        />
                        <div *ngIf="submitted && f.productName.errors" class="invalid-feedback">
                            <div *ngIf="f.productName.errors.required">Product Name is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Store Category Name</label>
                        <div>
                            <select class="form-control" (change)="storeCategoryChange($event.target.value,0)" formControlName="storeCategoryName">
                                <option *ngFor="let storeCategory of storeCategories" value="{{storeCategory?.store_category_id}}">
                                    {{storeCategory.store_category_name}}
                                </option>
                            </select>
                        </div>
                    </div>
                   <div class="row">
                       <div class="col-md-6">
                            <div class="form-group">
                                    <label>Store Sub Category</label>
                                    <div>
                                        <select class="form-control" (change)="storeSubCategoryChange($event.target.value)"
                                                formControlName="storeSubCategoryName">
                                            <option *ngFor="let subCategory of storeSubCategoryData"
                                                  value="{{subCategory?.store_sub_category_id}}">
                                                {{subCategory.store_sub_category | upperCaseName}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                       </div>
                       <div class="col-md-6">
                            <div class="form-group">
                                    <label>Sub Category</label>
                                    <div>
                                        <select class="form-control" formControlName="subCategoryName">
                                            <option *ngFor="let subCategory of subCategoryData" value="{{subCategory?.sub_category_id}}">
                                                {{subCategory.sub_category_name | upperCaseName}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                       </div>
                   </div>
                   <div class="form-group">
                      <label>Orignal Price(M.R.P)</label>
                      <input type="text" formControlName="productPrice" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.productPrice.errors }"
                      />
                      <div *ngIf="submitted && f.productPrice.errors" class="invalid-feedback">
                          <div *ngIf="f.productPrice.errors.required">Product Price is required</div>
                      </div>
                  </div>
                    <div class="form-group">
                        <label>Weight Type</label>
                        <div>
                            <select class="form-control" formControlName="productWeightType">
                                <option selected value="1">kg</option>
                                <option value="2">gms</option>
                                <option value="3">litre</option>
                                <option value="5">ml</option>
                                <option value="4">packet</option>
                                <option value="6">pieces</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Product Weight</label>
                        <input type="text" formControlName="productWeight" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.productWeight.errors }"
                        />
                        <div *ngIf="submitted && f.productWeight.errors" class="invalid-feedback">
                            <div *ngIf="f.productWeight.errors.required">Product weight is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Product Code</label>
                        <input type="text" formControlName="productCode" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.productCode.errors }"
                        />
                        <div *ngIf="submitted && f.productCode.errors" class="invalid-feedback">
                            <div *ngIf="f.productCode.errors.required">Product Code is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Product Desciption</label>
                        <textarea row="3" formControlName="productDescription" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.productDescription.errors }"></textarea>
                        <div *ngIf="submitted && f.productDescription.errors" class="invalid-feedback">
                            <div *ngIf="f.productDescription.errors.required">Product Description is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Product Rating</label>
                        <input type="text" formControlName="productRating" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.productRating.errors }"
                        />
                        <div *ngIf="submitted && f.productRating.errors" class="invalid-feedback">
                            <div *ngIf="f.productRating.errors.required">Product Rating is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="">Status</label>
                        <div>
                            <select class="form-control" formControlName="status">
                                <option value="1">Enabled</option>
                                <option value="0">Disabled</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <button [disabled]="disableForm"  class="btn btn-primary mr-3"><i class='fa fa-save'></i> Save</button>
                        <button *ngIf="productId !=0" class="btn btn-primary mr-3" (click)="deleteProduct()">
                            <i class='fa fa-trash'></i> Delete
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
