<div class='card'>
  <div class='card-header'>
    {{pageTitle}}
  </div>
  <div class='card-body'>
    <div class="row">
      <div class='col-md-2'>Filter by:</div>
      <div class='col-md-4'>
        <!-- <form [formGroup]="searchCriteriaForm">
                  <input formControlName="searchCriteria" class="form-control" type="text" id="keyword" placeholder="Search Merchant By Name"
                      autocomplete="off" autofocus/>
              </form> -->
      </div>
      <div class="col-md-6">
        <button class="btn btn-outline-secondary" style="float:right" [routerLink]="['/coupon/',0,'edit']">
          Add New Coupon
        </button>
      </div>
    </div>
    <div class='table-responsive'>
      <table style="width:1200px !important" class='table' *ngIf='vouchers?.length'>
        <thead>
          <tr>
            <th>

            </th>
            <th style="width:90px !important">Voucher Id</th>
            <th style="width:90px !important">Voucher Code</th>
            <th style="width:90px !important">Voucher Amount</th>
            <th>Expiry Time</th>
            <th>Voucher Cart Amount</th>
            <th>Voucher Type</th>
            <th>Status</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let voucher of vouchers' app-coupon-data [voucherInfo]="voucher">
          </tr>
        </tbody>
      </table>
      <app-pagination *ngIf='vouchers.length' [totalItemCount]="voucherTotalCount" (currentPage)="currentPageFn($event)"></app-pagination>
      <div *ngIf='vouchers?.length == 0'>
        No Vouchers Data Found
      </div>
    </div>
  </div>
</div>
<div *ngIf='errorMessage' class='alert alert-danger'>
  Error: {{ errorMessage }}
</div>
