<td>
    <!-- ['/coupon', coupon.coupon_id] -->
  <a [routerLink]="">
    {{ coupon?.coupon_code }}
  </a>
</td>
<td>
  {{ coupon?.coupon_value }} {{coupon?.calculation_type == 1? '%': ' Rs'}}
</td>
<td>
  <span>
      {{coupon?.coupon_end_date | date:'mediumDate'}}
  </span>
</td>
<td>
  &#8377;{{ coupon?.coupon_min_cart_value }}
</td>
<td>
  &#8377;{{ coupon?.coupon_max_value }}
</td>
<!-- <td>
  {{ coupon?.coupon_description }}
</td> -->
<td>
    <a [routerLink]="">
      {{ coupon?.created_by | upperCaseName }}
    </a>
</td>
<td>
  {{ coupon?.coupon_daily_usage_limit }}
</td>
<td>
  {{ coupon?.coupon_max_limit_user }}
</td>

<td style="font-weight:bold"
[ngClass]="{
  'text-success':coupon?.status === 1,
  'text-danger':coupon?.status === 0
}">
  {{ coupon?.status ? 'Active' : 'Not Active' }}
</td>
<td>
  <button class="btn btn-outline-secondary" [routerLink]="['/coupon',coupon?.coupon_id,'edit']">Edit</button>
  <!-- <button class="btn btn-outline-secondary" style="margin-left:5px" (click)="disableCoupon(coupon?.coupon_id)">
    Disable
  </button> -->
</td>
