<div class='card'>
  <div class='card-header'>
    {{pageTitle}}
  </div>
  <div class='card-body'>
    <div class="row">
      <div class='col-md-2'>Filter by:</div>
      <div class='col-md-4'>
        <!-- <form [formGroup]="searchCriteriaForm">
                  <input formControlName="searchCriteria" class="form-control" type="text" id="keyword" placeholder="Search Merchant By Name"
                      autocomplete="off" autofocus/>
              </form> -->
      </div>
      <div class="col-md-6">
        <button class="btn btn-outline-secondary" style="float:right"
          [routerLink]="['/coupon/',0,'edit']"
          [queryParams]="{type: 2}">
          Add New Coupon
        </button>
      </div>
    </div>
    <div class='table-responsive'>
      <table style="width:1200px !important" class='table' *ngIf='coupons?.length'>
        <thead>
          <tr>

            <th>Code</th>
            <th>Coupon Value</th>
            <th>Expiry Date</th>
            <th>Min. Cart Value</th>
            <th>Discount Max. Value</th>
            <!-- <th>Description</th> -->
            <th>Created By</th>
            <!-- <th>City</th> -->
            <th>Max. Usage Per day</th>
            <th>Max. limit per user</th>
            <th>Status</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let coupon of coupons' app-coupon-data [couponInfo]="coupon">
          </tr>
        </tbody>
      </table>
      <app-pagination *ngIf='coupons.length' [totalItemCount]="couponTotalCount" (currentPage)="currentPageFn($event)"></app-pagination>
      <div *ngIf='coupons?.length == 0'>
        No coupons Data Found
      </div>
    </div>
  </div>
</div>
<div *ngIf='errorMessage' class='alert alert-danger'>
  Error: {{ errorMessage }}
</div>
