<div class='card'>
  <div class='card-header'>
    {{pageTitle}}
  </div>
  <div class='card-body'>
    <div class="row">
      <div class='col-md-2'>Filter by:</div>
      <div class='col-md-4'>
        <form [formGroup]="searchCriteriaForm">
          <input formControlName="searchCriteria" class="form-control" type="text" id="keyword" placeholder="Search Category By Name"
            autocomplete="off" autofocus/>
        </form>
      </div>
      <div class="col-md-6">
        <button class="btn btn-outline-secondary" style="float:right" [routerLink]="['/category/storecategories/',0,'edit']">
          Add Store Category
        </button>
      </div>
    </div>

    <div class='table-responsive' *ngIf='storeCategories?.length > 0'>
      <table class='table'>
        <thead>
          <tr>
            <th>
             
            </th>
            <th>SCId</th>
            <th>Category Name</th>
            <th>Ranking</th>
            <th>Status</th>
            <th>Last Updated</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let storeCategory of storeCategories' app-shopper-category-data [storeCategoryInfo1]="storeCategory">
            
          </tr>
        </tbody>
      </table>
    </div>
    <div *ngIf='storeCategories?.length == 0'>
      No Store Categories Found
    </div>
  </div>
</div>
<div *ngIf='errorMessage' class='alert alert-danger'>
  Error: {{ errorMessage }}
</div>