<td>
    <img *ngIf="!storeProductsInfo.image_url" class='center-block img-responsive'
      src='assets/product_images/default_image.jpg' [title]='storeProductsInfo?.product_name'
        [style.width.px]='80' [style.margin.px]='0'>
    <img *ngIf="storeProductsInfo.image_url" class='center-block img-responsive'
        src='{{storeProductsInfo.image_url}}' [title]='storeProductsInfo?.product_name'
        [style.width.px]='80' [style.margin.px]='0'>
</td>
<td style="width: 200px;">
    <a>{{ storeProductsInfo?.product_name }}</a>
</td>
<td>
    &#8377;{{ storeProductsInfo?.product_marked_price }}</td>
<td>
     &#8377;{{ storeProductsInfo?.store_selling_price }}</td>
<td>
    {{ storeProductsInfo?.store_discount }}%
</td>
<td>
  {{ storeProductsInfo?.store_margin }}%
</td>
<td>
  {{ storeProductsInfo?.store_product_caping }}
</td>
<td>
    <input class="stockcheckbox" type='checkbox' [(ngModel)]='checkbox' (ngModelChange)='updateProductStock()'>
</td>
<td>
    <button class="btn btn-outline-secondary" [routerLink]="[storeProductsInfo.store_product_mapping_id,'edit']">Edit</button>
    <button class="btn btn-outline-secondary" style="margin-left:5px"
    (click)="deleteStoreProduct(storeProductsInfo.store_product_mapping_id)">
            Delete
    </button>
</td>
