<div role="document" style="width:2000px !important"  class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">{{title}}</h4>
            <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class='table-responsive'>
                <table class='table' *ngIf='orderProducts.length'>
                    <thead>
                        <tr>
                            <th style="width:90px !important">Id</th>
                            <th>Image</th>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Total Amount</th>
                            <th>Order Date</th>
                            <!-- <th>Status</th> -->
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor='let orderProduct of orderProducts'>
                            <td style="width:90px !important">
                                {{ orderProduct?.store_product_mapping_id }}
                            </td>
                            <td>
                                <img class='center-block img-responsive' *ngIf="!orderProduct?.image_url" src='assets/product_images/default_image.jpg' [style.width.px]='80'
                                    [style.margin.px]='2'>
                                <img class='center-block img-responsive' *ngIf="orderProduct?.image_url" src='{{orderProduct?.image_url}}'
                                    [title]='orderProduct?.product_name' [style.width.px]='80' [style.margin.px]='2'>
                            </td>
                            <td>
                                {{ orderProduct?.product_name }}
                            </td>
                            <td>
                                <i class="fas fa-rupee-sign"></i> {{orderProduct?.price}}
                            </td>

                            <td>{{ orderProduct?.quantity }}</td>
                            <td><i class="fas fa-rupee-sign"></i> {{ orderProduct?.total_amount }}</td>
                            <td>{{ orderProduct?.buying_date |date:'short' }}</td>
                            <!-- <td style="font-weight:bold">{{ storeOrder?.status.data[0] ? 'Available' : 'Not Available' }}</td> -->

                        </tr>
                    </tbody>
                </table>                
                <div *ngIf='orderProducts?.length == 0'>
                    No Products Data Found
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
        </div>
    </div>
</div>