<div class="card">
    <div class="card-header">
            <div class="wizard">
                    <a [routerLink]="['info']" routerLinkActive="active">
                        Store Information
                        <!-- <span [ngClass]="{'fa fa-exclamation': !isValid('info')}"></span> -->
                    </a>
                    <a [routerLink]="['merchantproducts']" routerLinkActive="active">
                        Products Catelog
                        <!-- <span [ngClass]="{'fa fa-exclamation': !isValid('tags')}"></span> -->
                    </a>
                    <a [routerLink]="['merchantorders']" routerLinkActive="active">
                        Orders Catelog
                        <!-- <span [ngClass]="{'fa fa-exclamation': !isValid('tags')}"></span> -->
                    </a>
                </div>
    </div>
    <!-- *ngIf="merchantData" -->
    <div class="card-body">
       

        <router-outlet></router-outlet>

        <!-- <div class="row mb-2">
            <div class="col-md-4">
                <button class="btn btn-primary mr-3" style="width:80px" type="button" [title]="isValid() ? 'Save your entered data' : 'Disabled until the form data is valid'"
                    [disabled]="!isValid()" (click)="saveProduct()">
                    Save
                </button>
                <button class="btn btn-outline-secondary mr-3" style="width:80px" type="button" title="Cancel your edits" [routerLink]="['/products']">
                    Cancel
                </button>
                <button class="btn btn-outline-warning" style="width:80px" type="button" title="Delete this product" (click)="deleteProduct()">
                    Delete
                </button>
            </div>
        </div> -->
    </div>
</div>

<!-- <div class="alert alert-danger" *ngIf="errorMessage">{{errorMessage}}
</div> -->