<div class="card">
    <div class="card-header">
        <div class="wizard">
            <!-- <a [routerLink]="['orderinfo']" routerLinkActive="active">
                Order Information
            </a> -->
            <a [routerLink]="['productsinfo']" routerLinkActive="active">
                Order Product Info
            </a>
            <a [routerLink]="['customerinfo']" routerLinkActive="active">
                Customer Info
            </a>
            <a [routerLink]="['merchantinfo']" routerLinkActive="active">
                Merchant Info
            </a>
            <!-- <a [routerLink]="['deliveryinfo']" routerLinkActive="active">
                Delivery Info
            </a> -->
            <a [routerLink]="['invoiceinfo']" routerLinkActive="active">
                Invoice Info
            </a>
        </div>
    </div>
    <div class="card-body">
        <router-outlet></router-outlet>
    </div>
</div>
