<div class='card'>
    <div class='card-body'>
        <div class="row">
            <div class='col-md-2'>Filter by:</div>
            <div class='col-md-4'>
                <form [formGroup]="searchCriteriaForm">
                    <input formControlName="searchCriteria" class="form-control" type="text" id="keyword"
                        placeholder="Search Merchant Product By Name"
                        autocomplete="off" autofocus/>
                </form>
            </div>
            <div class="col-md-6">
                <button class="btn btn-outline-secondary" style="float:right" [routerLink]="[0,'edit']">
                    Add New Store Product
                </button>
            </div>
        </div>
        <div class='table-responsive' *ngIf='storeproductscount'>
            <table style="width:1000px !important" class='table' *ngIf='storeproductscount'>
                <thead>
                    <tr>
                        <th>

                        </th>
                        <th style="width:90px !important">Name</th>
                        <th>MP</th>
                        <th>SP</th>
                        <th>Discount</th>
                        <th>Grostep Margin</th>
                        <th>Limit(per user)</th>
                        <th>Stock</th>
                        <th>Edit</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let store_product of storeproductsinfo' app-merchant-products-catalog-data
                      (deletestoreproduct) = deletestoreproduct($event)
                      [storeProductsInfo]="store_product">
                    </tr>
                </tbody>
            </table>
            <app-pagination *ngIf='storeproductscount' [totalItemCount]="storeproductscount" (currentPage)="currentPageFn($event)"></app-pagination>
        </div>
        <div *ngIf='storeproductscount == 0'>
            No Products in store catelog
        </div>

    </div>
</div>
<div *ngIf='errorMessage' class='alert alert-danger'>
    Error: {{ errorMessage }}
</div>
