<div class="card">
    <div class="card-header">
        <div class="wizard">
            <a [routerLink]="['editorderinfo']" routerLinkActive="active">
                Edit Order Info
            </a>
            <!-- <a [routerLink]="['editproductsinfo']" routerLinkActive="active">
                Edit Order Product Info
            </a> -->
            <!-- <a [routerLink]="['customerinfo']" routerLinkActive="active">
                Order Customer Info
            </a>
            <a [routerLink]="['merchantinfo']" routerLinkActive="active">
                Order Merchant Info
            </a> -->
            <!-- <a [routerLink]="['editdeliveryinfo']" routerLinkActive="active">
                Delivery Info
            </a> -->
        </div>
    </div>
    <div class="card-body">
        <router-outlet></router-outlet>
    </div>
  </div>

