<div class='card'>
    <div class='card-header'>
        {{pageTitle}}
    </div>
    <div class='card-body'>
        <div class="row">
            <!-- <div class='row'> -->
            <div class='col-md-2'>Filter by:</div>
            <div class='col-md-4'>
                <form [formGroup]="searchCriteriaForm">
                    <input formControlName="searchCriteria" class="form-control" type="text" id="keyword"
                    placeholder="Search Merchant By Name"
                        autocomplete="off" autofocus/>
                </form>
            </div>
            <div class="col-md-6">
                <!-- target="_blank" -->
                <a type="button" class="btn btn-outline-secondary" style="float:right;font-size:14px" [routerLink]="['/merchant/',0,'edit']">
                    Add New Store
                </a>
            </div>
        </div>
        <div class='table-responsive'>
            <table style="width:1200px !important" class='table' *ngIf='stores.length'>
                <thead>
                    <tr>
                        <!-- <th>
                            <button style="width:113px" class='btn btn-primary' (click)='toggleImage()'>
                                {{showImage ? 'Hide' : 'Show'}} Image
                            </button>
                        </th> -->
                        <th style="width:90px !important">Id</th>
                        <th>Store Name</th>
                        <th>Timings</th>
                        <th>Phone</th>
                        <th>Lat & Long</th>
                        <th>Category</th>
                        <!-- <th>GST Number</th>
                        <th>Pan Number</th> -->
                        <th>Status</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let store of stores' app-merchant-data [storeInfo]="store">

                    </tr>
                    <!-- <div *ngFor='let store of stores'>
                        <app-merchant-data [storeInfo]="store"></app-merchant-data>
                    </div> -->
                </tbody>
            </table>
            <app-pagination *ngIf='stores.length' [totalItemCount]="storetotalcount" (currentPage)="currentPageFn($event)"></app-pagination>
            <div *ngIf='stores?.length == 0'>
                No Stores Data Found
            </div>
        </div>
    </div>
</div>
<div *ngIf='errorMessage' class='alert alert-danger'>
    Error: {{ errorMessage }}
</div>
