    <td>
        <img *ngIf="!store?.image_url" src='assets/product_images/default_image.jpg' [style.width.px]='imageWidth' [style.height.px]='imageHeight'
            [style.margin.px]='imageMargin'>
        <span *ngIf="!store?.image_url" (click)="uploadImage(store.store_id)" style="display:block;font-size:14px;cursor:pointer;color:blue">
            Upload Image
        </span>
        <img *ngIf="store?.image_url" src='{{store?.image_url}}' [title]='store?.store_name' [style.height.px]='imageHeight' [style.width.px]='imageWidth'
            [style.margin.px]='imageMargin'>

        <span *ngIf="store?.image_url" (click)="uploadImage(store.store_id)" style="display:block;font-size:14px;cursor:pointer;color:blue">
            Change Image
        </span>
    </td>
    <td>
        <a [routerLink]="['/merchant', store.store_id]">
            {{ store?.store_id }}
        </a>
    </td>
    <td>
        <a [routerLink]="['/merchant', store.store_id]">
            {{ store?.store_name }}
        </a>
    </td>
    <td>
        {{store?.store_opening_time % 12 }} {{store?.store_opening_time_clock }}
        - {{store?.store_closing_time % 12}} {{store?.store_closing_time_clock }}

    </td>
    <td>
        {{ store?.phone_number }}
    </td>
    <td>
        {{ store?.latitude | number:'2.1-2' }} - {{ store?.longitude | number:'2.1-2'}}
    </td>
    <td>{{ store?.gst_number }}</td>
    <td>{{ store?.pan_number }}</td>

    <!-- <td>
        <div class="row">
            <label>Yes</label>
            <label class="switch">
            <input type="checkbox" [(ngModel)]="isNewProfile">
            <span class="slider round"></span>
            </label>
            <label>No</label>
    </div>
    </td> -->
    <td style="font-weight:bold">
      {{ store?.status ? 'Available' : 'Not Available' }}
    </td>
    <td>
        <button class="btn btn-outline-secondary" [routerLink]="['/merchant',store?.store_id,'edit']">Edit</button>
        <button class="btn btn-outline-secondary" style="margin-left:5px" (click)="deleteStore(store?.store_id)">
                Delete
        </button>
    </td>
