<div class='card'>
    <div class='card-header'>
        {{pageTitle}}
    </div>
    <div class='card-body'>
        <div class="row">
            <!-- <div class='row'> -->
            <div class='col-md-2'>Filter by:</div>
            <div class='col-md-4'>
                <form [formGroup]="searchCriteriaForm">
                    <input formControlName="searchCriteria" class="form-control" type="text" id="keyword" placeholder="Search Merchant By Name"
                        autocomplete="off" autofocus/>
                </form>
            </div>
            <div class="col-md-6">
                <button class="btn btn-outline-secondary" style="float:right" [routerLink]="['/merchant/',0,'edit']">
                    Add New Store
                </button>
            </div>
        </div>
        <div class='table-responsive'>
            <table style="width:1000px !important" class='table' *ngIf='stores.length'>
                <thead>
                    <tr>
                        <th>
                            <!-- <button style="width:113px" class='btn btn-primary' (click)='toggleImage()'>
                                {{showImage ? 'Hide' : 'Show'}} Image
                            </button> -->
                        </th>
                        <th style="width:90px !important">Store Id</th>
                        <th>Store Name</th>
                        <th>Phone</th>
                        <th>Lat & Long</th>
                        <th>GST Number</th>
                        <th>Pan Number</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let store of stores'>
                        <td>
                            <img *ngIf="!store?.image_url" src='assets/product_images/default_image.jpg' [style.width.px]='imageWidth'
                                [style.height.px]='imageHeight' [style.margin.px]='imageMargin'>
                            <span *ngIf="!store?.image_url" (click)="uploadImage(store.store_id)" style="display:block;font-size:14px;cursor:pointer;color:blue">
                                Upload Image
                            </span>
                            <img *ngIf="store?.image_url" src='{{store?.image_url}}' [title]='store?.store_name'
                                [style.height.px]='imageHeight' [style.width.px]='imageWidth' [style.margin.px]='imageMargin'>

                            <span *ngIf="store?.image_url" (click)="uploadImage(store.store_id)" style="display:block;font-size:14px;cursor:pointer;color:blue">
                                Change Image
                            </span>
                        </td>
                        <td style="width:90px !important">
                            <a [routerLink]="['/merchant', store.store_id]">
                                {{ store?.store_id }}
                            </a>
                        </td>
                        <td>
                            <a [routerLink]="['/merchant', store.store_id]">
                                {{ store?.store_name }}
                            </a>
                        </td>
                        <td>
                            {{ store?.phone_number }}
                        </td>
                        <td>
                            {{ store?.latitude | number:'2.1-2' }} - {{ store?.longitude | number:'2.1-2'}}
                        </td>
                        <td>{{ store?.gst_number }}</td>
                        <td>{{ store?.pan_number }}</td>

                        <td style="font-weight:bold">{{ store?.status.data[0] ? 'Available' : 'Not Available' }}</td>
                        <td>
                            <button class="btn btn-outline-secondary" [routerLink]="['/merchant',store?.store_id,'edit']">Edit</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <app-pagination *ngIf='stores.length' [totalItemCount]="store_total_count" (currentPage)="currentPageFn($event)"></app-pagination>
            <div *ngIf='stores?.length == 0'>
                No Stores Data Found
            </div>
        </div>
    </div>
</div>
<div *ngIf='errorMessage' class='alert alert-danger'>
    Error: {{ errorMessage }}
</div>