<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h2>{{pageTitle}}</h2>
        <form [formGroup]="addFeedBackForm" (ngSubmit)="onSubmit()">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Customer Name</label>
                <input type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
                <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                  <div *ngIf="f.name.errors.required">Customer Name is required</div>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label>Customer Phone</label>
            <input type="text" formControlName="phone" class="form-control" maxlength="10" minlength="10"
            [ngClass]="{ 'is-invalid': submitted && f.phone.errors }"
            />
            <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
              <div *ngIf="f.phone.errors.required">Phone Number is required</div>
            </div>
          </div>
          <div class="form-group">
            <label>Customer Email</label>
            <input type="text" formControlName="email" class="form-control" />
          </div>

          <div class="form-group">
            <label>Customer Feedback</label>
            <textarea row="3" formControlName="message" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.message.errors }"></textarea>
            <div *ngIf="submitted && f.message.errors" class="invalid-feedback">
              <div *ngIf="f.message.errors.required">Feedback message is required</div>
            </div>
          </div>

          <div class="form-group">
            <label>City</label>
            <div>
              <select class="form-control" formControlName="customerCity">
                <option selected value="Noida">Noida</option>
                <option selected value="Gurgaon">Gurgaon</option>
                <option selected value="Ghaziabad">Ghaziabad</option>
                <option selected value="Agra">Agra</option>
              </select>
            </div>
          </div>
          <div class="form-group">
              <label for="">Status</label>
              <div>
                <select class="form-control" formControlName="status">
                  <option value="1">Active</option>
                  <option value="0">Closed</option>
                </select>
              </div>
          </div>
          <!-- <div class="form-group">
            <label>Pin Code</label>
            <input type="text" formControlName="pinCode" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.pinCode.errors }"
            />
            <div *ngIf="submitted && f.pinCode.errors" class="invalid-feedback">
              <div *ngIf="f.pinCode.errors.required">PinCode is required</div>
            </div>
          </div> -->
          <!-- <div class="form-group">
            <label for="">Status</label>
            <div>
              <select class="form-control" formControlName="status">
                <option value="1">Enabled</option>
                <option value="0">Disabled</option>
              </select>
            </div> -->
      <!-- </div> -->

      <div class="form-group">
        <button [disabled]="!addFeedBackForm.valid" class="btn btn-primary">Save</button>
      </div>
      </form>
    </div>
  </div>
</div>
</div>
