<td>
  <a target="_blank" [routerLink]="['/feedbacks/feedbackinfo', feedBackInfo?.customer_feedback_id]">
    {{ feedBackInfo?.customer_feedback_id }}
  </a>
</td>
<td style="width: 50px;">
    <a target="_blank" [routerLink]="['/feedbacks/feedbackinfo', feedBackInfo?.customer_feedback_id]">
      {{ feedBackInfo?.customer_phone }}
    </a>
</td>
<td>
  {{ feedBackInfo?.customer_name }}
</td>
<td>
    {{ feedBackInfo?.feedback_text }}
</td>
<td>
  {{ feedBackInfo?.city }}
</td>
<td>
  {{ feedBackInfo?.mode }}
</td>
<td>
  {{ feedBackInfo?.action_by }}
</td>
<td style="font-weight:bold">
  {{ feedBackInfo?.status === 0 ? 'Active' : 'Completed' }}
</td>
<td>
    <a type="button" target="_blank" class="btn btn-outline-secondary"
     [routerLink]="['/feedbacks',feedBackInfo?.customer_feedback_id,'edit']">
      Edit
    </a>
</td>
