<div class='card'>
  <div class='card-header'>
      {{pageTitle}}
  </div>
  <div class='card-body'>
      <div class="row">
          <!-- <div class='row'> -->
          <div class='col-md-2'>Filter by:</div>
          <div class='col-md-4'>
              <form [formGroup]="searchCriteriaForm">
                  <input formControlName="searchCriteria" class="form-control"
                  (keyup)="onChanges()"
                  type="text" id="keyword"
                  placeholder="Search FeedBack By Phone Number"
                      autocomplete="off" autofocus/>
              </form>
          </div>
          <div class="col-md-6">
              <!-- target="_blank"  -->
              <a type="button" class="btn btn-outline-secondary" style="float:right" [routerLink]="['/feedbacks/',0,'edit']">
                  Add New FeedBack
              </a>
          </div>
      </div>
      <div class='table-responsive'>
          <table style="width:1200px !important" class='table' *ngIf='feedBacktotalcount'>
              <thead>
                  <tr>
                      <th style="width:90px !important">Id</th>
                      <th>Phone</th>
                      <th>Name</th>
                      <th>Feedback</th>
                      <th>City</th>
                      <th>Mode</th>
                      <th>Action By</th>
                      <th>Status</th>
                      <th></th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor='let feedBack of feedBacks' app-feedback-data [feedBackInfo]="feedBack">

                  </tr>
              </tbody>
          </table>
          <app-pagination *ngIf='feedBacktotalcount' [totalItemCount]="feedBacktotalcount"
                (currentPage)="currentPageFn($event)"></app-pagination>
          <div *ngIf='feedBacktotalcount == 0'>
              No FeedBack Data Found
          </div>
      </div>
  </div>
</div>
<div *ngIf='errorMessage' class='alert alert-danger'>
  Error: {{ errorMessage }}
</div>
