<div class='card'>
  <div class='card-header'>
    {{pageTitle}}
  </div>
  <div class='card-body'>
    <div class="row">
      <div class='col-md-2'>Filter by:</div>
      <div class='col-md-4'>
        <form [formGroup]="searchCriteriaForm">
          <input formControlName="searchCriteria" class="form-control" type="text" id="keyword" placeholder="Search delivery areas by city"
            autocomplete="off" autofocus/>
        </form>
      </div>
      <div class="col-md-6">
        <button class="btn btn-outline-secondary" style="float:right" [routerLink]="['/servicableareas/',0,'edit']">
          Add New Delivery Area
        </button>
      </div>
      <div class='table-responsive'>
        <table style="width:1000px !important" class='table' *ngIf='deliveryareas.length'>
          <thead>
            <tr>
              <th style="width:90px !important">Id</th>
              <th>City</th>
              <th>State</th>
              <th>Country</th>
              <th>City Alternate Name</th>
              <th>Status</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor='let deliveryarea of deliveryareas'>
              <td style="width:90px !important">
                <a [routerLink]="['/servicableareas', deliveryarea.serviceable_area_id]">
                  {{ deliveryarea?.serviceable_area_id }}
                </a>
              </td>
              <td>
                <a [routerLink]="['/servicableareas', deliveryarea.serviceable_area_id]">
                  {{ deliveryarea?.city }}
                </a>
              </td>
              <td>{{ deliveryarea?.state }}</td>
              <td>{{ deliveryarea?.country }}</td>
              <td>{{ deliveryarea?.city_alternate_name}}</td>
              <td style="font-weight:bold">{{ deliveryarea?.status ? 'Available' : 'Not Available' }}</td>
              <td>
                <button class="btn btn-outline-secondary mr-3" [routerLink]="[deliveryarea?.serviceable_area_id,'edit']">
                  <i class='fa fa-edit'></i>Edit
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>
  <div *ngIf='errorMessage' class='alert alert-danger'>
    Error: {{ errorMessage }}
  </div>
