<div class="container">
    <!-- <div style="text-align:center;">Grostep Panel</div> -->

    <div id="st-box" (click)="dashboardClick('products')">
        <img src="./assets/images/products.png" class="img-responsive center-block" style="max-height:180px;padding:30px 0 30px 0"
        />
        <h2>Products</h2>

    </div>

    <div id="nd-box" (click)="dashboardClick('merchant')">
        <img src="./assets/images/shop.png" class="img-responsive center-block" style="max-height:180px;padding:30px 0 30px 0" />
        <h2>Merchants</h2>
    </div>

    <div id="rd-box" (click)="dashboardClick('category/storecategories')">
        <img src="./assets/images/list.png" class="img-responsive center-block" style="max-height:180px;padding:30px 0 30px 0" />
        <h2>Categories</h2>
    </div>
    <div id="st-box" style="margin-top:20px" (click)="dashboardClick('customer')">
        <img src="./assets/images/user.png" class="img-responsive center-block" style="max-height:180px;padding:30px 0 30px 0" />
        <h2>Customers</h2>
    </div>

    <!-- <div id="nd-box" style="margin-top:20px" (click)="dashboardClick('customer')">
        <img src="./assets/images/choices.png" class="img-responsive center-block" style="max-height:180px;padding:30px 0 30px 0"
        />
        <h2>Orders</h2>
    </div> -->


</div>