<div class='card'>
    <div class='card-header'>
        {{pageTitle}}
    </div>
    <div class='card-body'>
        <div class="row">
            <!-- <div class='row'> -->
            <div class='col-md-2'>Filter by:</div>
            <div class='col-md-4'>
                <form [formGroup]="searchCriteriaForm">
                    <input formControlName="searchCriteria" class="form-control" type="text" id="keyword" placeholder="Search Customer By Name"
                        autocomplete="off" autofocus/>
                </form>
            </div>
            <div class="col-md-6">
                <button class="btn btn-outline-secondary" style="float:right" [routerLink]="['/customer/',0,'edit']">
                    Add New Customer
                </button>
            </div>
            <div class='table-responsive'>
                <table style="width:1000px !important" class='table' *ngIf='customers.length'>
                    <thead>
                        <tr>
                            <th>

                            </th>
                            <th style="width:90px !important">Customer Id</th>
                            <th>Customer Name</th>
                            <th>Customer DOB</th>
                            <th>Registration Mode</th>
                            <th>Phone</th>
                            <th>Registration Date</th>
                            <th>Last Seen</th>
                            <th>Status</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor='let customer of customers'>
                            <td>
                                <img *ngIf="!customer?.image_url" src='assets/product_images/default_image.jpg' [title]='customer.customer_name' [style.width.px]='imageWidth'
                                    [style.margin.px]='imageMargin'>
                                <img *ngIf="customer?.image_url" src='{{customer.image_url}}' [title]='customer.customer_name' [style.width.px]='imageWidth'
                                    [style.margin.px]='imageMargin'>
                            </td>
                            <td style="width:90px !important">
                                <a [routerLink]="['/customer', customer.customer_id]">
                                    {{ customer?.customer_id }}
                                </a>
                            </td>
                            <td>
                                <a [routerLink]="['/customer', customer.customer_id]">
                                    {{ customer?.customer_name }}
                                </a>
                            </td>
                            <td>
                                {{ customer?.customer_dob | date:'medium' }}
                            </td>

                            <td>{{ customer?.registered_mode }}</td>
                            <td>{{ customer?.phone }}</td>
                            <td>{{ customer?.registered_date | date:'medium' }}</td>
                            <td>{{ customer?.last_updated | date:'medium' }}</td>
                            <td style="font-weight:bold">{{ customer?.status ? 'Available' : 'Not Available' }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
          
        </div>
    </div>
    <div *ngIf='errorMessage' class='alert alert-danger'>
        Error: {{ errorMessage }}
    </div>